@font-face {
    font-family: 'karmatic-arcade';
    src: url('fonts/ka1-webfont.woff2') format('woff2'),
         url('fonts/ka1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lazer84regular';
    src: url('fonts/lazer84-webfont.woff2') format('woff2'),
         url('fonts/lazer84-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#login-form {
    display: block;
    color: white;
    text-align: center;
    font-family: "" ;
}

#login-form h1 {
    padding-top: 1%;
    font-size: 18px;
    font-family: 'karmatic-arcade';
    margin-bottom: 2%;
}

#create-user-button {
    margin: 3%;
    border-color: transparent;
    font-family: 'karmatic-arcade';
}

#nav-login.btn.btn-light {
    margin-top: 2%;
    font-family: 'karmatic-arcade';
    width: 25%;
    background-color: white;
}

#play-game-btn {
    margin-top: 5%;
    font-family: 'karmatic-arcade';
    width: 25%;
}

#nav-hello {
    font-family: 'karmatic-arcade';
    margin-top: 2%;
}

#level-title {
    margin-top: 1%;
    margin-bottom: 1%;
}
h1#level {
    text-align: center;
    font-family: "karmatic-arcade";
   
}

#audioBtnGame {
    border-color: transparent;
    font-family: 'karmatic-arcade';
    margin-bottom: 1%;
}

input {
    border-radius: 5px;
}

::placeholder {
    color: #FF1493;
    font-size: 13px;
    font-family: 'karmatic-arcade';
  }

#login-name {
    font-family: 'karmatic-arcade';
}


.submit-button {
    font-family: 'karmatic-arcade';
}

#create-user-form {
    text-align: center;
}

#create-title {
    color: white;
    font-size: 18px;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'karmatic-arcade';
}

#create-user-name {
    font-family: 'karmatic-arcade';
}

#create-password {
    font-family: "";
}