@font-face {
    font-family: 'karmatic-arcade';
    src: url('fonts/ka1-webfont.woff2') format('woff2'),
         url('fonts/ka1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lazer84regular';
    src: url('fonts/lazer84-webfont.woff2') format('woff2'),
         url('fonts/lazer84-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#login-form {
    color: white;
    text-align: center;
}

#login-form h1 {
    font-family: 'lazer84regular';
}

#create-user-button {
    text-align: center;
    font-family: 'karmatic-arcade';
}