@font-face {
    font-family: 'lazer84regular';
    src: url('fonts/lazer84-webfont.woff2') format('woff2'),
         url('fonts/lazer84-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karmatic-arcade';
    src: url('fonts/ka1-webfont.woff2') format('woff2'),
         url('fonts/ka1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: pink;
}

#game-title {
    text-align: center;
    font-family: 'lazer84regular';
}

#login {
    text-align: center;
    border-style: double;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-bottom: 4%;
}

#enter {
    font-family: 'karmatic-arcade';
    text-align: center;
    padding-top: 10%;
}